:root {
  	/* Primary Colors */
  	--pale-blue: hsl(225, 100%, 94%);
  	--bright-blue: hsl(245, 75%, 52%);

  	/* Neutral Colors */
  	--white: #fff;
  	--very-pale-blue: hsl(225, 100%, 98%);
  	--desaturated-blue: hsl(224, 23%, 55%);
  	--dark-blue: hsl(223, 47%, 23%);

	/* Font Size */
  	--font-size: 1rem;
  	--font-sm: 0.875rem;
}

/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
 	margin: 0;
  	padding: 0;
  	border: 0;
}

html {
  	line-height: 1.5;
  	font-size: 100%;
}

body {
  	background-color: var(--pale-blue);

	width: 100vw;
  	font-family: Red Hat Display, sans-serif;
  	font-size: var(--font-size);
  	font-weight: 500;

  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

a {
  	text-decoration: none;
  	color: inherit;
}

button {
	transition: ease-in-out 300ms;
}

button:hover {
	cursor: pointer;
}

.card {
	background-color: var(--white);
	box-shadow: 0 0.625rem 0.938rem rgba(0, 0, 0, 0.1);
	max-width: 20.438rem;
	margin: 4.25rem auto 1rem auto;
	border-radius: 0.75rem;
	text-align: center;
}

.card-image {
	width: 100%;
	border-radius: 0.75rem 0.75rem 0 0;
}

.card-content {
	padding: 2.625rem 2.25rem;
}

.card-title {
	color: var(--dark-blue);
	line-height: 1.0;
	font-size: 1.5rem;
	font-weight: 900;
	margin: 0;
}

.card-description {
	margin-top: 1.125rem;
	font-size: var(--font-sm);
	color: var(--desaturated-blue);
}


.card-plan {
	display: flex;
	align-items: center;

	background-color: var(--very-pale-blue);
	border-radius: 0.5rem;
	margin: 1.125rem auto;
	padding: 0.75rem;
}

.card-plan-details {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-right: auto;
	justify-content: space-between;
	font-size: var(--font-sm);
}

.plan-name {
	color: var(--dark-blue);
	font-weight: 900;
}

.price {
	color: var(--desaturated-blue);
}

.card-plan img {
	margin-right: 1.125rem;
	width: 2.625rem;
	height: 2.625rem;
}

.card-plan a {
	color: var(--bright-blue);
	text-decoration: underline;
	font-weight: bold;
	text-underline-offset: 1px;
	font-size: var(--font-sm);
}

.card-plan a:hover {
	text-decoration: none;
	color: hsla(245, 75%, 52%, 0.7);
}

.action-btn,
.cancel-btn {
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: var(--font-sm);
}

.action-btn {
	padding: 1rem;
	border-radius: 0.875rem;
	background-color: var(--bright-blue);
	box-shadow: 0 0.938rem 0.938rem rgba(0, 0, 0, 0.1);
	color: var(--white);
}

.action-btn:hover {
	background-color: hsla(245, 75%, 52%, 0.7);
}

.cancel-btn {
	margin-top: 1.5rem;
	background-color: transparent;
	color: var(--desaturated-blue);
}

.cancel-btn:hover {
	color: var(--dark-blue);
}

/* Attribution Section */
.attribution {
	text-align: center;
	font-size: 0.688rem; 
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}

@media (min-width: 376px) {
	body {
		height: 100vh;
		background-image: url('../images/pattern-background-desktop.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top left;
	}

	.card {
		max-width: 22rem;
		margin: auto;
		margin-bottom: 0.75rem;
	}
}